/* Bangalicon bangalicon-free bundle */
@font-face {
  font-family: "bangalicon-free";
  src: url("./bangalicon-free.eot?v=1786453327246");
  src: url("./bangalicon-free.eot?v=1786453327246#iefix") format("embedded-opentype"),
       url("./bangalicon-free.woff?v=1786453327246") format("woff"),
       url("./bangalicon-free.ttf?v=1786453327246") format("truetype"),
       url("./bangalicon-free.svg?v=1786453327246#bangalicon-free") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="bg-"]::before,
[class*=" bg-"]::before,
.bg::before,
[class^="bgs-"]::before,
[class*=" bgs-"]::before,
.bgs::before,
[class^="bgl-"]::before,
[class*=" bgl-"]::before,
.bgl::before
{
  font-family: "bangalicon-free" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-add::before { content: "\e908"; }
.bg-add-circle::before { content: "\e909"; }
.bgs-add-circle::before { content: "\e90a"; }
.bg-add-square::before { content: "\e90b"; }
.bgs-add-square::before { content: "\e90c"; }
.bg-alarm::before { content: "\e90d"; }
.bgs-alarm::before { content: "\e90e"; }
.bg-alarm-check::before { content: "\e90f"; }
.bgs-alarm-check::before { content: "\e910"; }
.bg-alarm-close::before { content: "\e911"; }
.bgs-alarm-close::before { content: "\e912"; }
.bg-alarm-off::before { content: "\e913"; }
.bgs-alarm-off::before { content: "\e914"; }
.bgl-alipay::before { content: "\e915"; }
.bgl-amazon::before { content: "\e916"; }
.bgl-amplify::before { content: "\e917"; }
.bgl-android::before { content: "\e918"; }
.bgl-angular::before { content: "\e919"; }
.bgl-apple::before { content: "\e91a"; }
.bgl-apple-appstore::before { content: "\e91b"; }
.bg-apps::before { content: "\e91c"; }
.bg-arrow-align-center-horiz::before { content: "\e91d"; }
.bg-arrow-align-center-vert::before { content: "\e91e"; }
.bg-arrow-align-down::before { content: "\e91f"; }
.bg-arrow-align-left::before { content: "\e920"; }
.bg-arrow-align-right::before { content: "\e921"; }
.bg-arrow-align-up::before { content: "\e922"; }
.bg-arrow-down::before { content: "\e923"; }
.bg-arrow-down-circle::before { content: "\e924"; }
.bgs-arrow-down-circle::before { content: "\e925"; }
.bg-arrow-down-left::before { content: "\e926"; }
.bg-arrow-down-left-circle::before { content: "\e927"; }
.bgs-arrow-down-left-circle::before { content: "\e928"; }
.bg-arrow-down-right::before { content: "\e929"; }
.bg-arrow-down-right-circle::before { content: "\e92a"; }
.bgs-arrow-down-right-circle::before { content: "\e92b"; }
.bg-arrow-drop-down::before { content: "\e92c"; }
.bg-arrow-drop-down-circle::before { content: "\e92d"; }
.bgs-arrow-drop-down-circle::before { content: "\e92e"; }
.bg-arrow-drop-down-square::before { content: "\e92f"; }
.bgs-arrow-drop-down-square::before { content: "\e930"; }
.bg-arrow-drop-left::before { content: "\e931"; }
.bg-arrow-drop-left-circle::before { content: "\e932"; }
.bgs-arrow-drop-left-circle::before { content: "\e933"; }
.bg-arrow-drop-left-square::before { content: "\e934"; }
.bgs-arrow-drop-left-square::before { content: "\e935"; }
.bg-arrow-drop-right::before { content: "\e936"; }
.bg-arrow-drop-right-circle::before { content: "\e937"; }
.bgs-arrow-drop-right-circle::before { content: "\e938"; }
.bg-arrow-drop-right-square::before { content: "\e939"; }
.bgs-arrow-drop-right-square::before { content: "\e93a"; }
.bg-arrow-drop-up::before { content: "\e93b"; }
.bg-arrow-drop-up-circle::before { content: "\e93c"; }
.bgs-arrow-drop-up-circle::before { content: "\e93d"; }
.bg-arrow-drop-up-square::before { content: "\e93e"; }
.bgs-arrow-drop-up-square::before { content: "\e93f"; }
.bg-arrow-end-down::before { content: "\e940"; }
.bg-arrow-end-left::before { content: "\e941"; }
.bg-arrow-end-right::before { content: "\e942"; }
.bg-arrow-end-up::before { content: "\e943"; }
.bg-arrow-in-down::before { content: "\e944"; }
.bg-arrow-in-left::before { content: "\e945"; }
.bg-arrow-in-right::before { content: "\e946"; }
.bg-arrow-in-up::before { content: "\e947"; }
.bg-arrow-key-down::before { content: "\e948"; }
.bg-arrow-key-down-circle::before { content: "\e949"; }
.bgs-arrow-key-down-circle::before { content: "\e94a"; }
.bg-arrow-key-left::before { content: "\e94b"; }
.bg-arrow-key-left-circle::before { content: "\e94c"; }
.bgs-arrow-key-left-circle::before { content: "\e94d"; }
.bg-arrow-key-right::before { content: "\e94e"; }
.bg-arrow-key-right-circle::before { content: "\e94f"; }
.bgs-arrow-key-right-circle::before { content: "\e950"; }
.bg-arrow-key-up::before { content: "\e951"; }
.bg-arrow-key-up-circle::before { content: "\e952"; }
.bgs-arrow-key-up-circle::before { content: "\e953"; }
.bg-arrow-left::before { content: "\e954"; }
.bg-arrow-left-circle::before { content: "\e955"; }
.bgs-arrow-left-circle::before { content: "\e956"; }
.bg-arrow-out-down::before { content: "\e957"; }
.bg-arrow-out-left::before { content: "\e958"; }
.bg-arrow-out-right::before { content: "\e959"; }
.bg-arrow-out-up::before { content: "\e95a"; }
.bg-arrow-right::before { content: "\e95b"; }
.bg-arrow-right-circle::before { content: "\e95c"; }
.bgs-arrow-right-circle::before { content: "\e95d"; }
.bg-arrow-start-down::before { content: "\e95e"; }
.bg-arrow-start-left::before { content: "\e95f"; }
.bg-arrow-start-right::before { content: "\e960"; }
.bg-arrow-start-up::before { content: "\e961"; }
.bg-arrow-up::before { content: "\e962"; }
.bg-arrow-up-circle::before { content: "\e963"; }
.bgs-arrow-up-circle::before { content: "\e964"; }
.bg-arrow-up-left::before { content: "\e965"; }
.bg-arrow-up-left-circle::before { content: "\e966"; }
.bgs-arrow-up-left-circle::before { content: "\e967"; }
.bg-arrow-up-right::before { content: "\e968"; }
.bg-arrow-up-right-circle::before { content: "\e969"; }
.bgs-arrow-up-right-circle::before { content: "\e96a"; }
.bgl-behance::before { content: "\e96b"; }
.bgl-bitcoin::before { content: "\e96c"; }
.bgl-bluetooth::before { content: "\e96d"; }
.bg-bolt::before { content: "\e96e"; }
.bgs-bolt::before { content: "\e96f"; }
.bg-bookmark::before { content: "\e970"; }
.bgs-bookmark::before { content: "\e971"; }
.bg-bookmark-add::before { content: "\e972"; }
.bgs-bookmark-add::before { content: "\e973"; }
.bg-bookmark-check::before { content: "\e974"; }
.bgs-bookmark-check::before { content: "\e975"; }
.bg-bookmark-close::before { content: "\e976"; }
.bgs-bookmark-close::before { content: "\e977"; }
.bg-bookmark-note::before { content: "\e978"; }
.bgs-bookmark-note::before { content: "\e979"; }
.bg-bookmark-remove::before { content: "\e97a"; }
.bgs-bookmark-remove::before { content: "\e97b"; }
.bgl-buffer::before { content: "\e97c"; }
.bg-call::before { content: "\e97d"; }
.bgs-call::before { content: "\e97e"; }
.bg-camera::before { content: "\e97f"; }
.bgs-camera::before { content: "\e980"; }
.bg-card::before { content: "\e981"; }
.bgs-card::before { content: "\e982"; }
.bg-category::before { content: "\e983"; }
.bgs-category::before { content: "\e984"; }
.bg-chat::before { content: "\e985"; }
.bgs-chat::before { content: "\e986"; }
.bg-chat-2::before { content: "\e987"; }
.bgs-chat-2::before { content: "\e988"; }
.bg-chat-2-add::before { content: "\e989"; }
.bgs-chat-2-add::before { content: "\e98a"; }
.bg-chat-2-check::before { content: "\e98b"; }
.bgs-chat-2-check::before { content: "\e98c"; }
.bg-chat-2-close::before { content: "\e98d"; }
.bgs-chat-2-close::before { content: "\e98e"; }
.bg-chat-2-info::before { content: "\e98f"; }
.bgs-chat-2-info::before { content: "\e990"; }
.bg-chat-2-more::before { content: "\e991"; }
.bgs-chat-2-more::before { content: "\e992"; }
.bg-chat-2-note::before { content: "\e993"; }
.bgs-chat-2-note::before { content: "\e994"; }
.bg-chat-2-question::before { content: "\e995"; }
.bgs-chat-2-question::before { content: "\e996"; }
.bg-chat-2-remove::before { content: "\e997"; }
.bgs-chat-2-remove::before { content: "\e998"; }
.bg-chat-2-warning::before { content: "\e999"; }
.bgs-chat-2-warning::before { content: "\e99a"; }
.bg-chat-add::before { content: "\e99b"; }
.bgs-chat-add::before { content: "\e99c"; }
.bg-chat-check::before { content: "\e99d"; }
.bgs-chat-check::before { content: "\e99e"; }
.bg-chat-close::before { content: "\e99f"; }
.bgs-chat-close::before { content: "\e9a0"; }
.bg-chat-more::before { content: "\e9a1"; }
.bgs-chat-more::before { content: "\e9a2"; }
.bg-chat-note::before { content: "\e9a3"; }
.bgs-chat-note::before { content: "\e9a4"; }
.bg-chat-remove::before { content: "\e9a5"; }
.bgs-chat-remove::before { content: "\e9a6"; }
.bg-check::before { content: "\e9a7"; }
.bg-check-circle::before { content: "\e906"; }
.bgs-check-circle::before { content: "\e9a8"; }
.bgl-chrome::before { content: "\e9a9"; }
.bg-clock::before { content: "\e9aa"; }
.bgs-clock::before { content: "\e9ab"; }
.bg-close::before { content: "\e9ac"; }
.bg-close-circle::before { content: "\e9ad"; }
.bgs-close-circle::before { content: "\e9ae"; }
.bg-close-fullscreen::before { content: "\e9af"; }
.bg-cloud::before { content: "\e9b0"; }
.bgs-cloud::before { content: "\e9b1"; }
.bgl-codepen::before { content: "\e9b2"; }
.bg-content-copy::before { content: "\e9b3"; }
.bgs-content-copy::before { content: "\e9b4"; }
.bg-coupon::before { content: "\e9b5"; }
.bgs-coupon::before { content: "\e9b6"; }
.bg-coupon-check::before { content: "\e9b7"; }
.bgs-coupon-check::before { content: "\e9b8"; }
.bg-coupon-close::before { content: "\e9b9"; }
.bgs-coupon-close::before { content: "\e9ba"; }
.bgl-css3::before { content: "\e9bb"; }
.bg-date::before { content: "\e9bc"; }
.bgs-date::before { content: "\e9bd"; }
.bg-date-add::before { content: "\e9be"; }
.bgs-date-add::before { content: "\e9bf"; }
.bg-date-check::before { content: "\e9c0"; }
.bgs-date-check::before { content: "\e9c1"; }
.bg-date-close::before { content: "\e9c2"; }
.bgs-date-close::before { content: "\e9c3"; }
.bg-date-info::before { content: "\e9c4"; }
.bgs-date-info::before { content: "\e9c5"; }
.bg-date-more::before { content: "\e9c6"; }
.bgs-date-more::before { content: "\e9c7"; }
.bg-date-note::before { content: "\e9c8"; }
.bgs-date-note::before { content: "\e9c9"; }
.bg-date-question::before { content: "\e9ca"; }
.bgs-date-question::before { content: "\e9cb"; }
.bg-date-range::before { content: "\e9cc"; }
.bgs-date-range::before { content: "\e9cd"; }
.bg-date-remove::before { content: "\e9ce"; }
.bgs-date-remove::before { content: "\e9cf"; }
.bg-date-today::before { content: "\e9d0"; }
.bgs-date-today::before { content: "\e9d1"; }
.bg-date-warning::before { content: "\e9d2"; }
.bgs-date-warning::before { content: "\e9d3"; }
.bg-delete::before { content: "\e9d4"; }
.bgs-delete::before { content: "\e9d5"; }
.bg-delete-add::before { content: "\e9d6"; }
.bgs-delete-add::before { content: "\e9d7"; }
.bg-delete-check::before { content: "\e9d8"; }
.bgs-delete-check::before { content: "\e9d9"; }
.bg-delete-close::before { content: "\e9da"; }
.bgs-delete-close::before { content: "\e9db"; }
.bg-delete-remove::before { content: "\e9dc"; }
.bgs-delete-remove::before { content: "\e9dd"; }
.bgl-deviantart::before { content: "\e9de"; }
.bgl-discord::before { content: "\e9df"; }
.bgl-docker::before { content: "\e9e0"; }
.bg-drag-horiz::before { content: "\e9e1"; }
.bg-drag-vert::before { content: "\e9e2"; }
.bgl-dribbble::before { content: "\e9e3"; }
.bgl-dropbox::before { content: "\e9e4"; }
.bg-edit::before { content: "\e9e5"; }
.bgs-edit::before { content: "\e9e6"; }
.bg-explore::before { content: "\e9e7"; }
.bgs-explore::before { content: "\e9e8"; }
.bg-explore-off::before { content: "\e9e9"; }
.bgs-explore-off::before { content: "\e9ea"; }
.bgl-facebook::before { content: "\e9eb"; }
.bg-fast-forward::before { content: "\e9ec"; }
.bgs-fast-forward::before { content: "\e9ed"; }
.bg-fast-rewind::before { content: "\e9ee"; }
.bgs-fast-rewind::before { content: "\e9ef"; }
.bg-favorite::before { content: "\e9f0"; }
.bgs-favorite::before { content: "\e9f1"; }
.bgl-figma::before { content: "\e9f2"; }
.bg-file::before { content: "\e9f3"; }
.bgs-file::before { content: "\e9f4"; }
.bg-file-add::before { content: "\e9f5"; }
.bgs-file-add::before { content: "\e9f6"; }
.bg-file-check::before { content: "\e9f7"; }
.bgs-file-check::before { content: "\e9f8"; }
.bg-file-close::before { content: "\e9f9"; }
.bgs-file-close::before { content: "\e9fa"; }
.bg-file-note::before { content: "\e9fb"; }
.bgs-file-note::before { content: "\e9fc"; }
.bg-file-remove::before { content: "\e9fd"; }
.bgs-file-remove::before { content: "\e9fe"; }
.bg-filter::before { content: "\e9ff"; }
.bgs-filter::before { content: "\ea00"; }
.bgl-firebase::before { content: "\ea01"; }
.bgl-firefox::before { content: "\ea02"; }
.bg-folder::before { content: "\ea03"; }
.bgs-folder::before { content: "\ea04"; }
.bg-folder-add::before { content: "\ea05"; }
.bgs-folder-add::before { content: "\ea06"; }
.bg-folder-check::before { content: "\ea07"; }
.bgs-folder-check::before { content: "\ea08"; }
.bg-folder-close::before { content: "\ea09"; }
.bgs-folder-close::before { content: "\ea0a"; }
.bg-folder-more::before { content: "\ea0b"; }
.bgs-folder-more::before { content: "\ea0c"; }
.bg-folder-note::before { content: "\ea0d"; }
.bgs-folder-note::before { content: "\ea0e"; }
.bg-folder-remove::before { content: "\ea0f"; }
.bgs-folder-remove::before { content: "\ea10"; }
.bg-format-align-bottom-center::before { content: "\ea11"; }
.bg-format-align-bottom-left::before { content: "\ea12"; }
.bg-format-align-bottom-right::before { content: "\ea13"; }
.bg-format-align-center::before { content: "\ea14"; }
.bg-format-align-justify::before { content: "\ea15"; }
.bg-format-align-left::before { content: "\ea16"; }
.bg-format-align-right::before { content: "\ea17"; }
.bg-format-align-top-center::before { content: "\ea18"; }
.bg-format-align-top-left::before { content: "\ea19"; }
.bg-format-align-top-right::before { content: "\ea1a"; }
.bg-format-bold::before { content: "\ea1b"; }
.bg-format-italic::before { content: "\ea1c"; }
.bg-format-size::before { content: "\ea1d"; }
.bg-format-strikethrough::before { content: "\ea1e"; }
.bg-format-title::before { content: "\ea1f"; }
.bg-format-underlined::before { content: "\ea20"; }
.bg-forward::before { content: "\ea21"; }
.bgl-foursquare::before { content: "\ea22"; }
.bgl-github::before { content: "\ea23"; }
.bgl-gitlab::before { content: "\ea24"; }
.bgl-google::before { content: "\ea25"; }
.bgl-google-playstore::before { content: "\ea26"; }
.bg-hand-thumb-down::before { content: "\ea27"; }
.bgs-hand-thumb-down::before { content: "\ea28"; }
.bg-hand-thumb-up::before { content: "\ea29"; }
.bgs-hand-thumb-up::before { content: "\ea2a"; }
.bg-home::before { content: "\ea2b"; }
.bgs-home::before { content: "\ea2c"; }
.bgl-html5::before { content: "\ea2d"; }
.bg-image::before { content: "\ea2e"; }
.bgs-image::before { content: "\ea2f"; }
.bg-inbox::before { content: "\ea30"; }
.bgs-inbox::before { content: "\ea31"; }
.bg-info::before { content: "\ea32"; }
.bg-info-circle::before { content: "\ea33"; }
.bgs-info-circle::before { content: "\ea34"; }
.bgl-instagram::before { content: "\ea35"; }
.bg-inventory::before { content: "\ea36"; }
.bgs-inventory::before { content: "\ea37"; }
.bg-inventory-add::before { content: "\ea38"; }
.bgs-inventory-add::before { content: "\ea39"; }
.bg-inventory-check::before { content: "\ea3a"; }
.bgs-inventory-check::before { content: "\ea3b"; }
.bg-inventory-close::before { content: "\ea3c"; }
.bgs-inventory-close::before { content: "\ea3d"; }
.bg-inventory-note::before { content: "\ea3e"; }
.bgs-inventory-note::before { content: "\ea3f"; }
.bg-inventory-remove::before { content: "\ea40"; }
.bgs-inventory-remove::before { content: "\ea41"; }
.bgl-javascript::before { content: "\ea42"; }
.bg-key-backspace::before { content: "\ea43"; }
.bgs-key-backspace::before { content: "\ea44"; }
.bg-key-command::before { content: "\ea45"; }
.bg-key-space-bar::before { content: "\ea46"; }
.bg-language::before { content: "\ea47"; }
.bgl-laravel::before { content: "\ea48"; }
.bg-letter-c-upper-circle::before { content: "\ea49"; }
.bgs-letter-c-upper-circle::before { content: "\ea4a"; }
.bg-light-bulb::before { content: "\ea4b"; }
.bgs-light-bulb::before { content: "\ea4c"; }
.bg-link::before { content: "\ea4d"; }
.bgl-linkedin::before { content: "\ea4e"; }
.bg-list::before { content: "\ea4f"; }
.bg-location::before { content: "\ea50"; }
.bgs-location::before { content: "\ea51"; }
.bg-location-check::before { content: "\ea52"; }
.bgs-location-check::before { content: "\ea53"; }
.bg-location-close::before { content: "\ea54"; }
.bgs-location-close::before { content: "\ea55"; }
.bg-location-off::before { content: "\ea56"; }
.bgs-location-off::before { content: "\ea57"; }
.bg-lock::before { content: "\ea58"; }
.bgs-lock::before { content: "\ea59"; }
.bg-lock-open::before { content: "\ea5a"; }
.bgs-lock-open::before { content: "\ea5b"; }
.bg-mail::before { content: "\ea5c"; }
.bgs-mail::before { content: "\ea5d"; }
.bg-mail-open::before { content: "\ea5e"; }
.bgs-mail-open::before { content: "\ea5f"; }
.bgl-medium::before { content: "\ea60"; }
.bg-memo::before { content: "\ea61"; }
.bgs-memo::before { content: "\ea62"; }
.bg-memo-add::before { content: "\ea63"; }
.bgs-memo-add::before { content: "\ea64"; }
.bg-memo-check::before { content: "\ea65"; }
.bgs-memo-check::before { content: "\ea66"; }
.bg-memo-close::before { content: "\ea67"; }
.bgs-memo-close::before { content: "\ea68"; }
.bg-memo-note::before { content: "\ea69"; }
.bgs-memo-note::before { content: "\ea6a"; }
.bg-memo-remove::before { content: "\ea6b"; }
.bgs-memo-remove::before { content: "\ea6c"; }
.bg-menu::before { content: "\ea6d"; }
.bg-menu-center::before { content: "\ea6e"; }
.bg-menu-left::before { content: "\ea6f"; }
.bg-menu-right::before { content: "\ea70"; }
.bgl-meta::before { content: "\ea71"; }
.bgl-microsoft::before { content: "\ea72"; }
.bg-moon::before { content: "\ea73"; }
.bgs-moon::before { content: "\ea74"; }
.bg-more-horiz::before { content: "\ea75"; }
.bg-more-horiz-circle::before { content: "\ea76"; }
.bgs-more-horiz-circle::before { content: "\ea77"; }
.bg-more-vert::before { content: "\ea78"; }
.bg-more-vert-circle::before { content: "\ea79"; }
.bgs-more-vert-circle::before { content: "\ea7a"; }
.bg-my-location::before { content: "\ea7b"; }
.bgs-my-location::before { content: "\ea7c"; }
.bg-my-location-off::before { content: "\ea7d"; }
.bg-navigation::before { content: "\ea7e"; }
.bgs-navigation::before { content: "\ea7f"; }
.bg-near-me::before { content: "\ea80"; }
.bgs-near-me::before { content: "\ea81"; }
.bg-near-me-off::before { content: "\ea82"; }
.bgs-near-me-off::before { content: "\ea83"; }
.bg-notifications::before { content: "\ea84"; }
.bgs-notifications::before { content: "\ea85"; }
.bg-notifications-add::before { content: "\ea86"; }
.bgs-notifications-add::before { content: "\ea87"; }
.bg-notifications-check::before { content: "\ea88"; }
.bgs-notifications-check::before { content: "\ea89"; }
.bg-notifications-close::before { content: "\ea8a"; }
.bgs-notifications-close::before { content: "\ea8b"; }
.bg-notifications-off::before { content: "\ea8c"; }
.bgs-notifications-off::before { content: "\ea8d"; }
.bg-notifications-remove::before { content: "\ea8e"; }
.bgs-notifications-remove::before { content: "\ea8f"; }
.bgl-notion::before { content: "\ea90"; }
.bgl-npm::before { content: "\ea91"; }
.bg-open-in-full::before { content: "\ea92"; }
.bg-open-in-new::before { content: "\ea93"; }
.bg-pause::before { content: "\ea94"; }
.bgs-pause::before { content: "\ea95"; }
.bg-pause-circle::before { content: "\ea96"; }
.bgs-pause-circle::before { content: "\ea97"; }
.bgl-paypal::before { content: "\ea98"; }
.bg-person::before { content: "\ea99"; }
.bgs-person::before { content: "\ea9a"; }
.bg-person-circle::before { content: "\ea9b"; }
.bgs-person-circle::before { content: "\ea9c"; }
.bgl-pinterest::before { content: "\ea9d"; }
.bg-play::before { content: "\ea9e"; }
.bgs-play::before { content: "\ea9f"; }
.bg-play-circle::before { content: "\eaa0"; }
.bgs-play-circle::before { content: "\eaa1"; }
.bgl-playstation::before { content: "\eaa2"; }
.bgl-python::before { content: "\eaa3"; }
.bg-question::before { content: "\eaa4"; }
.bg-question-circle::before { content: "\eaa5"; }
.bgs-question-circle::before { content: "\eaa6"; }
.bgl-react::before { content: "\eaa7"; }
.bg-recode::before { content: "\eaa8"; }
.bgs-recode::before { content: "\eaa9"; }
.bg-recode-circle::before { content: "\eaaa"; }
.bgs-recode-circle::before { content: "\eaab"; }
.bgl-reddit::before { content: "\eaac"; }
.bg-redo::before { content: "\eaad"; }
.bg-refresh::before { content: "\eaae"; }
.bg-remove::before { content: "\eaaf"; }
.bg-remove-circle::before { content: "\eab0"; }
.bgs-remove-circle::before { content: "\eab1"; }
.bg-reply::before { content: "\eab2"; }
.bg-rss-feed::before { content: "\eab3"; }
.bgl-sass::before { content: "\eab4"; }
.bg-search::before { content: "\eab5"; }
.bg-search-add::before { content: "\eab6"; }
.bg-search-check::before { content: "\eab7"; }
.bg-search-close::before { content: "\eab8"; }
.bg-search-remove::before { content: "\eab9"; }
.bg-send::before { content: "\eaba"; }
.bgs-send::before { content: "\eabb"; }
.bg-setting::before { content: "\eabc"; }
.bgs-setting::before { content: "\eabd"; }
.bg-share::before { content: "\eabe"; }
.bgs-share::before { content: "\eabf"; }
.bg-share-arrow::before { content: "\eac0"; }
.bg-shield::before { content: "\eac1"; }
.bgs-shield::before { content: "\eac2"; }
.bg-shield-add::before { content: "\eac3"; }
.bgs-shield-add::before { content: "\eac4"; }
.bg-shield-check::before { content: "\eac5"; }
.bgs-shield-check::before { content: "\eac6"; }
.bg-shield-close::before { content: "\eac7"; }
.bgs-shield-close::before { content: "\eac8"; }
.bg-shield-note::before { content: "\eac9"; }
.bgs-shield-note::before { content: "\eaca"; }
.bg-shield-off::before { content: "\eacb"; }
.bgs-shield-off::before { content: "\eacc"; }
.bg-shield-remove::before { content: "\eacd"; }
.bgs-shield-remove::before { content: "\eace"; }
.bg-shopping-bag::before { content: "\eacf"; }
.bgs-shopping-bag::before { content: "\ead0"; }
.bg-shopping-cart::before { content: "\ead1"; }
.bgs-shopping-cart::before { content: "\ead2"; }
.bg-skip-next::before { content: "\ead3"; }
.bgs-skip-next::before { content: "\ead4"; }
.bg-skip-previous::before { content: "\ead5"; }
.bgs-skip-previous::before { content: "\ead6"; }
.bgl-skype::before { content: "\ead7"; }
.bgl-snapchat::before { content: "\ead8"; }
.bgl-soundcloud::before { content: "\ead9"; }
.bgl-spotify::before { content: "\eada"; }
.bgl-stackoverflow::before { content: "\eadb"; }
.bg-stamp-check::before { content: "\eadc"; }
.bgs-stamp-check::before { content: "\eadd"; }
.bg-stamp-close::before { content: "\eade"; }
.bgs-stamp-close::before { content: "\eadf"; }
.bg-star::before { content: "\eae0"; }
.bgs-star::before { content: "\eae1"; }
.bg-star-half::before { content: "\eae2"; }
.bg-stop::before { content: "\eae3"; }
.bgs-stop::before { content: "\eae4"; }
.bg-stop-circle::before { content: "\eae5"; }
.bgs-stop-circle::before { content: "\eae6"; }
.bg-store::before { content: "\eae7"; }
.bgs-store::before { content: "\eae8"; }
.bg-sun::before { content: "\eae9"; }
.bgs-sun::before { content: "\eaea"; }
.bg-swap-horiz::before { content: "\eaeb"; }
.bg-swap-vert::before { content: "\eaec"; }
.bg-sync::before { content: "\eaed"; }
.bgl-tiktok::before { content: "\eaee"; }
.bg-timer::before { content: "\eaef"; }
.bgs-timer::before { content: "\eaf0"; }
.bg-timer-off::before { content: "\eaf1"; }
.bgs-timer-off::before { content: "\eaf2"; }
.bg-truck::before { content: "\eaf3"; }
.bgs-truck::before { content: "\eaf4"; }
.bgl-twitch::before { content: "\eaf5"; }
.bgl-twitter::before { content: "\eaf6"; }
.bg-undo::before { content: "\eaf7"; }
.bg-unfold-less::before { content: "\eaf8"; }
.bg-unfold-more::before { content: "\eaf9"; }
.bg-update::before { content: "\eafa"; }
.bg-videocam::before { content: "\eafb"; }
.bgs-videocam::before { content: "\eafc"; }
.bg-view-grid::before { content: "\eafd"; }
.bgs-view-grid::before { content: "\eafe"; }
.bg-view-list::before { content: "\eaff"; }
.bg-view-table::before { content: "\eb00"; }
.bg-visibility::before { content: "\eb01"; }
.bgs-visibility::before { content: "\eb02"; }
.bg-visibility-off::before { content: "\eb03"; }
.bgs-visibility-off::before { content: "\eb04"; }
.bg-warning::before { content: "\eb05"; }
.bg-warning-circle::before { content: "\eb06"; }
.bgs-warning-circle::before { content: "\eb07"; }
.bgl-wechat::before { content: "\eb08"; }
.bgl-whatsapp::before { content: "\eb09"; }
.bg-wifi::before { content: "\eb0a"; }
.bgl-windows::before { content: "\eb0b"; }
.bgl-wordpress::before { content: "\eb0c"; }
.bgl-xbox::before { content: "\eb0d"; }
.bgl-youtube::before { content: "\eb0e"; }
